<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag "favicon-32x32.png" %>
        <% end %>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" action="/search" controller="pages" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Votre recherche ....." name="mots">
        </div>
        <button type="submit" class="btn btn-default">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>


      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Les événements", events_path %> </li>
        <li><%= link_to "Les profils", profils_path %> </li>
        <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
        <% else %>
            <li><%= link_to "Créer un événement", new_event_path %> </li>
            <li> <%= link_to "Contact", contact_path %> </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!-- modifier ou creer mon profil suivant qu il existe deja ou pas -->
                <% if user_signed_in? %>
                    <li><%= link_to "Mon compte & photo", edit_user_registration_path %> </li>
                    <% if current_user.try(:profil) %>
                        <li> <%= link_to "Modifier mon profil", profil_path(current_user.profil) %> </li>
                    <% else %>
                        <li> <%= link_to "Créer mon profil", new_profil_path %> </li>
                    <% end %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                <% end %>
              </ul>
            </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
