<div class="container">
    <div class = "col-md-6 col-md-offset-3">

        <%= simple_form_for(@event) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :photo, as: :attachinary %>
            <%= f.input :titre, placeholder: "Cours de 5 rythmes", label: "Nom de l événement" %>
            <%= f.input :description, placeholder: "Pour danser sans penser mais se dépenser..." %>
            <%= f.input :prix, placeholder: "0" %>
            <%= f.input :debut, placeholder: DateTime.new, label: "Début AAAA/MM/JJ HH:MM" %>
            <%= f.input :fin, placeholder: DateTime.new,  label: "Fin AAAA/MM/JJ HH:MM" %>
            <%= f.input :lieu, placeholder: "Salle May B" %>
            <%= f.input :adresse, placeholder: "16 rue Geoffroy d'Asnier" %>
            <%= f.input :cp, placeholder: "75002", label: "CP"   %>
            <%= f.input :ville, placeholder: "Paris" %>
            <%= f.input :pays, placeholder:  "France" %>
            <%= f.input :reduit, placeholder: "Tarif réduit pour étudiant/chomeur et abonnement" %>
            <%= f.input :transport, placeholder: "Métro L1 Saint Paul et L7 Pont Marie " %>
            <%= f.input :contact, placeholder: "Tél ou mail du contact" %>
            <%= f.input :site, placeholder: "Site web de l evenement" %>
            <%= f.input :complement, placeholder: "Complement d info sur la reservation, le lieu, etc" %>
          </div>

          <!-- <div class="form-actions"> -->
          <% if @event.persisted? %>
              <% if session[:duplicate] %>
                  <%= f.button :submit , 'Dupliquer' , class: "btn-primary" %>
              <% elsif current_user == @event.user %>
                    <%= f.button :submit , 'Enregistrer' , class: "btn-primary" %>
              <% end %>
          <% else %>
              <%= f.button :submit , 'Créer', class: "btn-primary" %>
          <% end %>
      <% end %>
    </div>
</div>

