<div class="container">

</div> <%= simple_form_for(@event) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titre, placeholder: "Cours de 5 rythmes" %>
    <%= f.input :description, placeholder: "Pour danser sans penser mais se dépenser..." %>
    <%= f.input :prix, placeholder: "0" %>
    <%= f.input :debut, placeholder: DateTime.new %>
    <%= f.input :fin, placeholder: DateTime.new %>
    <%= f.input :lieu, placeholder: "Salle May B" %>
    <%= f.input :adresse, placeholder: "16 rue Geoffroy d'Asnier" %>
    <%= f.input :cp, placeholder: "75002"  %>
    <%= f.input :ville, placeholder: "Paris" %>
    <%= f.input :pays, placeholder:  "France" %>
    <%= f.input :reduit, placeholder: "Tarif réduit pour étudiant/chomeur et abonnement" %>
    <%= f.input :transport, placeholder: "Métro L1 Saint Paul et L7 Pont Marie " %>
    <%= f.input :contact, placeholder: "Marie au 06 06 06 06 06 ou marie.danse@neesyu.com" %>
  </div>

  <div class="form-actions">
    <% if @event.persisted? %>
        <%= f.button :submit , 'Enregistrer' %>
    <% else %>
        <%= f.button :submit , 'Créer' %>
    <% end %>
  </div>
<% end %>
</div>
