               <%= link_to event do %>

                    <font color="#9A3619">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 text-left"> <font size=-2> <%= event.debut_heure %> </font>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 text-right ">

                            <% if event.user.avatar? %>
                                     <%= cl_image_tag event.user.avatar.path, width: 30, height: 30, crop: :fill,
                                        radius: 5 %>
                            <% else %>
                                        .O.
                            <% end %>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 "> <b> <%= event.titre %> </b> <br>
                            <font size=-1>par <%=event.user.profil.pseudo %> à <%= event.ville %></font>

                            <% if event.prix.to_i > 0 %>
                                <font size=-1>   <%= event.prix %> <sup>€</sup> </font>
                            <% end %>
                        </div>

                    </div>
                    </font>

               <% end %>

                <% if user_signed_in? %>
                    <div class="row">
                            <font size = -1>
                            <div class="col-xs-2 col-xs-offset-2 col-sm-3 text-right"> partager </div>
                            <div class="col-xs-2 col-sm-3 text-center"> suivre </div>
                            <div class="col-xs-2 col-sm-3 text-left">
                            <% if current_user.participe_deja?(event) %>
                                <%= link_to participation_path(current_user.participations.find_by(event: event)), method: :delete do %>    quitter
                                <% end %>
                            <% else %>
                                <%= link_to participations_path(event_id: event.id), method: :post do %>
                                    participer
                                <% end %>
                            <% end %>
                            </div>
                            </font>
                    </div>
                <% else %>
                            <div class="row">
                            <font size = -1>
                            <div class="col-xs-12  col-sm-6 col-sm-offset-3 text-center"> connectez-vous pour plus d'options </div>
                            </font>
                    </div>
                <% end %>
                <hr size="5" color="blue">
                </font>
