<p id="notice"><%= notice %></p>
<% @titre_page = 'Liste' %>
<h1 class="text-center">Liste des événements </h1>

<div class="container">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
  <!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Prix</th>
      <th>Horaire.....</th>
    </tr>
  </thead>

  <tbody>
    <% @events = @events.sort_by { |e| e.horaire} %>
    <% @events.each do |event| %>
      <tr >
        <td><%= link_to event.titre, event %></td>
        <td><%= event.description_courte %></td>
        <td><%= event.prix %></td>
        <td><%= event.horaire_affiche %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<br>

<p class="text-center">
<%= link_to 'Ajouter un événement', new_event_path , class: "btn btn-primary"%>
</p>

