<p id="notice"><%= notice %></p>
<% @titre_page = 'Liste des evenements' %>
<h4 class="text-center"> <em> Liste des événements </em></h4>

<div class="container">

<!--    Si c'est un tableau on le trie -->
    <%  if @events.try(:sort) %>

        <% @events = @events.sort_by { |e| e.debut} %>

        <% anc_debut_jour = nil %>

        <% @events.each do |event| %>
        <!-- Regrouper par dates  -->
              <% if event.debut_jour != anc_debut_jour %>
                <div class ="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">  <%= event.debut_jour %> </div>
                </div>
                <hr size="1" color="orange">
              <% end %>

                <%= render "ligne", :event => event %>
              <% anc_debut_jour = event.debut_jour %>
            <% end %>
    <% else %>
    <!-- La liste se reduit à un seul evenement -->
        <%= render "ligne", :event => @events %>
    <% end %>

</div>
</div>
</div>


<br>

    <p class="text-center">
    <%= link_to 'Ajouter un événement', new_event_path , class: "btn btn-primary"%>
    </p>
