<p id="notice"><%= notice %></p>
<% @titre_page = 'Liste' %>
<h3 class="text-center">Liste des événements </h1>

<div class="container">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
  <!-- Table -->
<table class="table table-striped table-hover">
  <thead>
    <tr >
      <th>Heure</th>
      <th>Ville</th>
    </tr>
  </thead>

  <tbody>
    <% @events = @events.sort_by { |e| e.debut} %>
    <% anc_debut_jour = nil %>

    <% @events.each do |event| %>
      <% if event.debut_jour != anc_debut_jour %>
        <tr>
            <td colspan="2" class="text-center">  <%= event.debut_jour %>
            </td>
        </tr>
      <% end %>
      <tr data-link="<%= event_path(event) %>">
        <td><%= event.debut_heure %></td>
        <td>
              <table>
                  <tr>
                      <td colspan="2"> <%= event.titre %> </td>
                  </tr>
                  <tr>
                      <td class="text-left"> <%= event.ville %>  </td> <td class="text-right"> <%= event.prix %><sup>€</sup> </td>
                  </tr>
              </table>
        </tr>
      </tr>
      <% anc_debut_jour = event.debut_jour %>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<br>

<p class="text-center">
<%= link_to 'Ajouter un événement', new_event_path , class: "btn btn-primary"%>
</p>
