<!-- <p id="notice"><%= notice %></p> -->


<h4 class="text-center"> Détail de l'événément </h4>
<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2 text-center"> <h3> <%= @event.titre %> </h3> </div>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> Description : <%= @event.description %> </div> <br>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> animé par <b>
                      <%= link_to "#{@event.user.profil.prenom} #{@event.user.profil.nom}" , profil_path(@event.user.profil) %>
                      </b> </div> <br>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> Horaire : <%= @event.debut_jour%> à <%= @event.debut_heure %> </div> <br>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> Lieu : <%= @event.lieu %>,<br> <%=@event.adresse %> <br> <%= @event.ville %> </div> <br>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> Tarif réduit : <%= @event.reduit%> </div> <br>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> Transport : <%= @event.transport%> </div> <br>
    </row>
    <row>
        <div class="col-md-8 col-md-offset-2 "> Contacter : <%= @event.contact%> </div> <br>
    </row>

</div>

<p class= "text-center">
<!-- <%= link_to 'Modifer', edit_event_path(@event), :class => "btn btn-primary" %> -->
<%= link_to 'Lister les événements', events_path, class: "btn btn-primary" %>
</p>
