
<p class="text-center  hidden-md hidden-lg" >
<%= image_tag "bandeaufbparis.jpg" , width: 300, :align=> "middle" %>
</p>

<p class="text-center  hidden-xs hidden-sm" >
<%= image_tag "bandeaufbparis.jpg" %>
</p>

<br>
<br>
<br>

<h2 class= "text-center">Page de contact de Neesyu </h2>
<div class="alert alert-danger" role="alert">
    <h2>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only text-center"></span>
        Site en test
    </h2>
</div>
<div class="container">
    <row>
        <div class="col-md-8 col-md-offset-2" >
                            <br>
              <br>

              <p class="text-center">
              <%= link_to "Pour l instant c est par la page Facebook", "https://www.facebook.com/NeesyuParis/" %>

              </p>
        </div>
    </row>
</div>


<p class="text-center">
<%= link_to "Liste des événements", events_path, class: "btn btn-primary" %>
</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <%= link_to "Save changes", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
