
<% @titre_page = 'Liste profils' %>
<font color="#9A3619">
<h4 class="text-center"> <em>Les profils</em></h4>
<hr>

<div class="container">
    <% @profils = @profils.sort_by {|p| p.pseudo} %>
    <% @profils.each do |profil| %>
        <%= link_to profil do %>
            <div class="row">
                <div class="class col-xs-1 col-md-2 col-md-offset-1 text-right vertical-align:middle ">
                        <% if profil.user.avatar %>
                            <%= cl_image_tag profil.user.avatar.path, width: 40, height: 40, radius: 5, crop: :fill  %>
                        <% end %>
                </div>

                 <div class="col-xs-9 col-xs-offset-1 col-sm-6 col-sm-offset-0 text-left">
                          <%= profil.pseudo %>  (<%= profil.prenom %> <%= profil.nom %>) <br>
                          <em> <%= profil.activite %> </em>
                          <hr>
                 </div>
            </div>
        <% end %>
    <% end %>
</div>
</font>

