<p id="notice"><%= notice %></p>

<% @titre_page = 'Liste profils' %>
<h4 class="text-center"> <em>Les profils</em></h4>
<hr>

<div class="container">
    <% @profils = @profils.sort_by {|p| p.pseudo} %>
    <% @profils.each do |profil| %>
        <%= link_to profil do %>
            <div class="row">
                 <div class="col-md-6 col-md-offset-3">
                          <font color="#9A3619">
                          <%= profil.pseudo %> (<%= profil.prenom %> <%= profil.nom %>) <br>
                          <em> <%= profil.activite %> </em>
                          <hr>
                 </div>
            </div>
        <% end %>
    <% end %>
</div>

