<p id="notice"><%= notice %></p>

<h1>Profils</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Pseudo</th>
      <th>Detail</th>
      <th>Site</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profils.each do |profil| %>
      <tr>
        <td><%= profil.nom %></td>
        <td><%= profil.prenom %></td>
        <td><%= profil.pseudo %></td>
        <td><%= profil.detail %></td>
        <td><%= profil.site %></td>
        <td><%= profil.user %></td>
        <td><%= link_to 'Show', profil %></td>
        <td><%= link_to 'Edit', edit_profil_path(profil) %></td>
        <td><%= link_to 'Destroy', profil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profil', new_profil_path %>
