<p id="notice"><%= notice %></p>


<% @titre_page = 'Liste profils' %>
<h4 class="text-center"> <em>Les profils</em></h4>
<hr>

<div class="container">
    <% @profils = @profils.sort_by {|p| p.pseudo} %>
    <% @profils.each do |profil| %>
        <%= link_to profil do %>
            <div class="row">
                <div class="class col-md-2 col-md-offset-1 text-right">
                        <% if profil.user.avatar %>
                            <%= cl_image_tag profil.user.avatar.path, width: 30, height: 30, crop: :fill,
                                        class: 'avatar dropdown-toggle', id: 'navbar-wagon-menu', :'data-toggle' => 'dropdown-toggle' %>
                        <% end %>
                </div>

                 <div class="col-md-6">
                          <font color="#9A3619">
                          <%= profil.pseudo %>  (<%= profil.prenom %> <%= profil.nom %>) <br>
                          <em> <%= profil.activite %> </em>
                          <hr>
                 </div>
            </div>
        <% end %>
    <% end %>
</div>

