<h3 class="text-center"> Profil </h3>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                <% if @profil.user.avatar %>
                        <%= cl_image_tag @profil.user.avatar.path, width: 60, height: 60, crop: :fill,
                          radius: 5,  :border => { :width => 4, :color => "#553311" }, :gravity => :face %>
                <% end %>
            </p>

            <p>
              <em>Pseudo : </em>
              <strong> <%= @profil.pseudo %> </strong>
            </p>

            <p>
              <em>Nom : </em>
              <strong> <%= @profil.nom %> </strong>
            </p>

            <p>
              <em>Prenom : </em>
              <strong> <%= @profil.prenom %> </strong>
            </p>

            <p>
              <em>Activite : </em>
              <strong> <%= @profil.activite %> </strong>
            </p>

            <p>
              <em>Detail : </em>
              <strong> <%= @profil.detail %> </strong>
            </p>

            <p>
              <em>Site : </em>
              <strong> <%= link_to @profil.site, @profil.site %> </strong>
            </p>

            <p>
              <em>Pro : </em>
              <strong> <% if @profil.pro %> Oui <% else %> Non <% end %> </strong>
            </p>
        </div>
    </div>
</div>


<p class="text-center">
<% if current_user == @profil.user %>
    <%= link_to "Modifier mon profil", edit_profil_path, class: "btn btn-primary" %>
    <%= link_to "Mes événements", events_path(user: @profil.user), class: "btn btn-primary" %>
<% else %>
    <%= link_to "Ses événements", events_path(user: @profil.user), class: "btn btn-primary" %>
<% end %>

</p>



<% if Rails.env == "development" %>
               <% if user_signed_in? %>
                    <div class="row">
                            <font size = -1>
                            <div class="col-xs-2 col-xs-offset-2 col-sm-3 text-right"> partager </div>
                            <div class="col-xs-2 col-sm-3 text-center">
                                <% if current_user.suivi_deja?(@profil) %>
                                    <%= link_to suivi_path(current_user.suivis.find_by(profil: @profil.id)), method: :delete do %>    passuivi <%= @profil.suivis.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to suivis_path(profil: @profil), method: :post do %>
                                        suivrepro <%= @profil.suivis.count %>
                                    <% end %>
                                <% end %>
                            </div>

                            </font>
                    </div>
                <% else %>
                            <div class="row">
                            <font size = -1>
                            <div class="col-xs-12  col-sm-6 col-sm-offset-3 text-center"> connectez-vous pour plus d'options </div>
                            </font>
                    </div>
                <% end %>
<%end %>


