<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @profil.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @profil.prenom %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @profil.pseudo %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @profil.detail %>
</p>

<p>
  <strong>Site:</strong>
  <%= @profil.site %>
</p>

<p>
  <strong>User:</strong>
  <%= @profil.user %>
</p>

<%= link_to 'Edit', edit_profil_path(@profil) %> |
<%= link_to 'Back', profils_path %>
