<p id="notice"><%= notice %></p>

<h3 class="text-center"> Profil </h3>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
              <em>Pseudo : </em>
              <strong> <%= @profil.pseudo %> </strong>
            </p>

            <p>
              <em>Nom : </em>
              <strong> <%= @profil.nom %> </strong>
            </p>

            <p>
              <em>Prenom : </em>
              <strong> <%= @profil.prenom %> </strong>
            </p>

            <p>
              <em>Activite : </em>
              <strong> <%= @profil.activite %> </strong>
            </p>

            <p>
              <em>Detail : </em>
              <strong> <%= @profil.detail %> </strong>
            </p>

            <p>
              <em>Site : </em>
              <strong> <%= link_to @profil.site, @profil.site %> </strong>
            </p>
        </div>
    </div>
</div>


<p class="text-center">
<% if current_user == @profil.user %>
    <%= link_to "Modifier mon profil", edit_profil_path, class: "btn btn-primary" %>
<% end %>
<%= link_to "Tous les événements", events_path, class: "btn btn-primary" %>
<%= link_to "Ses prochains les événements", events_path(user: @profil.user), class: "btn btn-primary" %>
</p>


